.button{
    margin: 0.5rem;
    width: 7.5rem;
    height: 2rem;
    background-color: #924A36;
    color: white;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #D9D7C7;

}